<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key = "DbTapHuan" value = "Server=103.48.192.163,59125;Database=pro_elearning_taphuan;User ID=lap_trinh;Password=123@123aBcde;MultipleActiveResultSets=true;Persist Security Info=False;Connection Timeout=300;pooling=true;connection lifetime=0;Min Pool Size=0;max pool size=10000;" />
          -->
		<!--<add key="api-url" value="http://api-taphuan.sse.net.vn/"/>-->
		<add key="api-url" value="https://apitaphuan.nxbgd.vn/"/>
	</appSettings>
</configuration>